<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-4 ">
        <img class="p-footer img-fluid"  src="assets/default/logo.png">
    </div>
    <div class="col-sm-4 ">
        
    </div>
    <div class="col-sm-4 p-footer-3">
      <div class="row">
        <div class="col-12 p-footer-3-content">
          <a href="">TÉRMINOS Y CONDICIONES</a>
        </div>
        <div class="col-12 p-footer-3-content">
          <a href="">POLÍTICAS DE PRIVACIDAD</a>
        </div>
      </div>
    </div>
    <div class="col-12 p-footer-2 text-center">
        © NOTILOOT 2019. TODOS LOS DERECHOS RESERVADOS.
    </div>
  </div>
</div>
