.footer{
    border-top: 3px solid #fff;
    margin-top: 20px; 
    background: #004e92;  /* fallback for old browsers */
    
}

.p-footer{
    padding-top: 25px; 
    padding-right: 130px;
    padding-left: 130px; 
}

.p-footer-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.5rem;
    background: rgba(0, 0, 0,0.9);
}

.p-footer-3{
    padding-top: 50px; 
    text-align: center;
}
.p-footer-3-content{
    padding-bottom: 10px;
    font: normal 1.25rem 'Roboto Condensed';
}


.p-footer-3-content > a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
}